@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply px-4 py-2 transition duration-200 backdrop-blur-lg text-maize-subtle bg-davy-gray border border-maize-subtle hover:shadow-glow-maize-subtle-inset;
    }

    .btn-primary {
        @apply bg-red-600 text-white hover:bg-cyan-700 shadow-md;
    }

    .btn-glass {
        @apply border text-cyan-300 backdrop-blur-md hover:bg-cyan-800/30;
    }

    .content-container {
        @apply flex flex-col items-stretch text-ghost-white m-5;
    }

    .content {
        @apply flex flex-1;
    }

    .glow-hover-maize::after {
        content: '';
        @apply absolute bottom-0 left-1/2 h-0 w-full bg-maize shadow-glow-maize transform -translate-x-1/2 block transition-all duration-200 ease-in-out;
    }

    .glow-hover-maize:hover::after {
        @apply h-1;
    }
}

@layer base {
    html {
        background-color: theme('backgroundColor.dark');
    }

    body {
        background-image: url('../assets/textures/bg-dark-scale.png');
        background-position: center;
        background-repeat: repeat;
        min-height: 100vh;
    }

    .flex {
        @apply justify-center items-center;
    }
}